<div class="container mt-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row text-center">
        <div class="col-sm mb-3">
          <h4 class="font-weight-bold text-center" style="letter-spacing: 8px">修改收入</h4>
        </div>
      </div>
      <div class="card p-4">
        <small class="text-secondary">*為必填</small>
        <div class="card-body">
          <form action="/income/{{{income._id}}}/edit?_method=PUT" method="POST">
            <div class="form-group row justify-content-center">
              <label for="incomeName">名稱*</label>
              <div class="col-10">
                <input type="text" class=" form-control" id="incomeName" name="incomeName" value="{{{income.name}}}">
              </div>
            </div>
            <div class="form-group row justify-content-center">
              <label for="incomeDate">日期*</label>
              <div class="col-10">
                <input type="date" class="form-control" id="incomeDate" name="incomeDate" value="{{{income.date}}}">
              </div>
            </div>
            <div class=" form-group row justify-content-center">
              <label for="incomeSelect">類別*</label>
              <div class="col-10">
                <select class="form-control" id="incomeSelect" name="incomeSelect">
                  <option selected>{{{income.category}}}</option>
                  <option>薪水</option>
                  <option>家人給</option>
                  <option>獎金</option>
                  <option>其他</option>
                </select>
              </div>
            </div>
            <div class="form-group row justify-content-center">
              <label for="incomeAmount">金額*</label>
              <div class="col-10">
                <input type="number" class="form-control" id="incomeAmount" name="incomeAmount"
                  value="{{{income.amount}}}">
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>