<div class="container">
  <div class="row my-3">
    <div class="col mb-3 border-right">
      <h3 class="text-warning text-center font-weight-bolder">收入</h3>
    </div>
    <div class="col mb-3 border-right">
      <h3 class="text-warning text-center font-weight-bolder">支出</h3>
      <p class="h4 text-center font-weight-bolder">{{{totall}}}</p>
    </div>
    <div class="col mb-3">
      <h3 class="text-warning text-center font-weight-bolder">結餘</h3>
    </div>
  </div>

  <div class="list group">
    {{#each records}}
    <div class="list-group-item mb-2 border-left-0 border-top-0 border-right-0">
      <div class="row">
        <div class="col-auto mr-auto">
          <div>
            <h4 class="font-weight-bolder" style="display: inline;vertical-align: middle;">{{{this.name}}}</h4>
          </div>
          <small class="font-weight-bolder">{{{this.date}}}</small>
        </div>
        <div class="col-auto m-auto">
          <p class="text-center font-weight-bolder">{{{this.amount}}}</p>
        </div>


        <div class="col-auto">
          <a class="btn btn-success font-weight-bolder" href="expense/{{{this._id}}}/edit">修 改</a>
          <form action="/expense/{{{this._id}}}/delete?_method=DELETE" method="POST" style="display: inline">
            <button class="btn btn-danger font-weight-bolder" type="submit">刪 除</button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="fixed-bottom m-4">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <a href="/expense/new" style="color:warning" class="float-right">
            <span style="color:#ffc107;">
              <i class="fas fa-plus-circle fa-4x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>